@import url(variables.css);
/* navigation s */
.header_main .menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

@import url(global.css)

/* .shadow {
    width: 75%;
    margin:auto;
    
} */

.nonsense {
    padding:0;
}

a > span {
    padding-left: 5rem;
    margin-right: 0;
}

.header_main .menu .navbar {
    padding: 1rem 1rem;
    
}

.navbar-brand {
    font-size: 30px;
    margin-left: -3rem;
}

.header_main .menu .nav-item .nav-link {
    font-family: var(--lato);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);


}

.header_main .menu .navbar-nav .active {
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.header_main .menu .navbar-nav a:hover{
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.carousel {
    width:640px;
    height:360px;
    align-items: center;
  }
  
  
  
  
  
  footer p {
    margin-left: 20px;
}
footer div a {
    padding:5px;
    text-decoration: none;
    margin-right:20px;
}

.carousel-item img {
    width: auto;
    height: 500px;
    max-height: 600px;
  }

.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.carousel-inner { padding-bottom:100px; }
.carousel-caption { bottom:-110px; }

.carousel-caption > h5  {
    color:red;
    font-family: 'Lato', cursive;
}

.carousel-caption > p  {
    color:red;
    font-family: 'Lato', cursive;
}





@media only screen and (max-width:694px) {
    a > .Title{
        display: none;
        cursor:pointer;

    }
}


    
    
        

    /* footer Puja */




